* {
    box-sizing: content-box;
  }
  
  
  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    font-family:'Barlow Semi Condensed', sans-serif;
    border-radius: 8px;
    transition: 0.2s all;
    margin: 6%;
    padding: 4%;
    background-color: #825B46 ;
  }
  

  .divInformation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    line-height: 175%;
  }
  /* 
  .divInformationText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
  } */

  .Icon{
    display: flex;
    width: 150px;
    height: auto;
  }

  .Icon_box{
    display: flex;
    width: 100px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .Icon_truck{
    display: flex;
    width: 200px;
    height: auto;
  }

  .meetingPlaces {
    margin : 0.5vh;
  }

  .meetingPoint {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
  }
  
  .meetingPointPicture {
  
    width: 250px;
    height: 150px;
    border-radius: 5%;
    
  }
  
  
  .container li{ 
    list-style: none;
  }  
  
  .containerList {
    display: flex;
    justify-content: center;
  }
  .containerLineOption,
  .containerLineResult {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  .containerLineResult {
    padding-left: 2%;
  }
  .containerLineOption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .containerLineOption li,
  .containerLineResult li {
    font-size: 18px;
    color: #dcdcdc;
  }
  
  .important{
    color:#dcdcdc;
  } 
  
  .meetingTitle{
      background: radial-gradient(#767677, #000);
      background-size: 100% 200%;
      background-position: 50% 100%;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 2%;
      font-size: 38px;
  }
    
  .paragraph {
    font-style: italic;
  }
  
  