:root {
    --main-color:#3B271D;
    --secondary-color:#4A3C3B;
    --dark: #090605;
    --light: #825B46;
    --light-medium: #dcdcdc;
    --spacing: 8px;
    --spacing-medium: calc(var(--spacing) * 2);
    --spacing-large: calc(var(--spacing) * 4);
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Anton', sans-serif;
  }